/*
*
* NOTE: These styles are minified and added as a simple string to CopyToClipboardProcessor.
* To make changes:
*  - update this file
*  - minify the content
*  - add the minified content to the `CopyToClipboardProcessor`
*
*/
pre.highlight .btn-copy {
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding: 2px 6px;
    position: absolute;
    right: 4px;
    top: .225rem;
    background-color: transparent;
    border: none;
}

.listingblock:hover .btn-copy,
pre.highlight .btn-copy:focus {
    opacity: 0.5;
}

pre.highlight {
    position: relative;
}

.listingblock code[data-lang]::before {
    display: block;
    content: attr(data-lang) '|';
    right: 1.5rem;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.listingblock:hover code[data-lang]::before {
    opacity: 0.5;
}

.tooltip-text {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 4px;
    background: #444;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    font-size: 11px;
}

.tooltip-text span {
    color: #fff;
}

.listingblock:hover .tooltip-text.show {
    opacity: 1;
}
